<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card shadow text-center">
                <div class="card-header bg-custom-form">
                    <h3>LOGIN</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                            <button type="submit" class="btn btn-secondary btn-block">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>